@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  margin: 0;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  color: #051c33;
}

/* Global*/

h1,
h2 {
  text-align: center;
}

img {
  height: 100%;
  width: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #051c33;
  text-decoration: none;
}

p {
  text-align: center;
  font-size: 1.1rem;
  color: red;
  font-weight: bold;
}

button {
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

header {
  font-family: "Lobster", cursive;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.bg-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.search-form {
  max-width: 28rem;
  display: flex;
  margin: 0 auto 2rem;
}

/* form button {
  background-color: white;
  border: 1px solid black;
  border-radius: 0 0.35em 0.35em 0;
  border-left: none;
  border: none;
} */
.submit-button {
  background-color: #051c33;
  color: white;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

input {
  font-size: 1em;
  width: 100%;
  background-color: #edeff0;
  padding: 0.8rem;
  border: 0.3rem solid #d7dbdf;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

main img {
  background-color: white;
}

form {
  display: flex;
  justify-content: center;
}

input {
  width: calc(100vw / 3);
  border-radius: 0.3rem 0 0 0.3rem;
  border: solid 1px #d3d3d3;
  border-right: none;
  padding: 0.5rem;
}

input[type="text"]:hover {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}

input[type="text"]:focus {
  box-shadow: 0 0 5pt 2pt #d3d3d3;
}

.button-container {
  display: flex;
  margin: 1rem 2rem;
  gap: 2rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.button {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 0;
  color: white;
  background-color: #051c33;
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;
  text-align: center;
}

/* Images*/
.not-found,
.searched-image {
  margin-bottom: 1rem;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 0.8rem;
  justify-content: center;
  list-style-type: none;
}

.image-gallery li {
  flex-basis: 15rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 1rem;
}

.image {
  border: none;
  border-radius: 0.12rem;
}

@media (max-width: 1000px) {
  .image-gallery {
    margin: 0;
  }
}

@media (max-width: 790px) {
  input {
    width: calc(100vw / 1.2);
    border-right: none;
  }
}

@media (max-width: 500px) {
  .button-container {
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }
}

/* Error page*/
.error-button-container {
  display: flex;
  justify-content: center;
}

.error-button {
  background-color: #051c33;
  margin-top: 1rem;
  padding: 2rem;
  color: white;
  font-size: 1.1rem;
}

.search-icon {
  height: 1rem;
  width: 2rem;
  padding: 0.5rem;
  border-radius: 0 0.7rem 0.7rem 0;
}
